# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
.Python
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db