django==5.2.4
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-allauth==65.10.0
dj-rest-auth[with_social]==7.0.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
django-imagekit==5.0.0
Pillow==11.3.0
django-cors-headers==4.7.0
drf-spectacular==0.28.0
celery==5.5.3
redis==6.2.0
psycopg2-binary==2.9.10
django-redis==6.0.0